{
  "DotnetConfigs": [
    {
      "Solution": {
        "Id": "3bbc009d-76a3-477c-ba40-a1e128756dea",
        "Type": 1,
        "Path": null,
        "Name": "TestSolution",
        "ProjectRefs": null,
        "Args": null
      },
      "Projects": [
        {
          "Id": "34805e89-ee7c-44ab-8c18-d7660bc22ab8",
          "Type": 2,
          "Name": "TestProject0",
          "Path": null,
          "Args": null
        },
        {
          "Id": "614c1078-318b-485a-803b-c89a783b7a45",
          "Type": 2,
          "Name": "TestProject1",
          "Path": null,
          "Args": null
        },
        {
          "Id": "1208c86d-b670-4889-a61b-49992b14626f",
          "Type": 2,
          "Name": "TestProject2",
          "Path": null,
          "Args": null
        },
        {
          "Id": "19add522-9190-48d2-85e1-fbe589af2b81",
          "Type": 2,
          "Name": "TestProject3",
          "Path": null,
          "Args": null
        },
        {
          "Id": "4751fb71-9799-4e98-8336-7deb87dc45bb",
          "Type": 2,
          "Name": "TestProject4",
          "Path": null,
          "Args": null
        }
      ]
    },
    {
      "Solution": {
        "Id": "c384280a-3d89-4a77-af2e-f4781d2968d7",
        "Type": 1,
        "Path": null,
        "Name": "TestSolution",
        "ProjectRefs": null,
        "Args": null
      },
      "Projects": [
        {
          "Id": "9e479f91-83b9-4084-bcc7-b6c091ccc727",
          "Type": 2,
          "Name": "TestProject0",
          "Path": null,
          "Args": null
        },
        {
          "Id": "8e601f46-6d3d-46b4-927b-a37ca6579aa1",
          "Type": 2,
          "Name": "TestProject1",
          "Path": null,
          "Args": null
        },
        {
          "Id": "9bac16fb-0273-41cd-9157-fc00c58682ef",
          "Type": 2,
          "Name": "TestProject2",
          "Path": null,
          "Args": null
        },
        {
          "Id": "28c2285c-2fd4-41f4-8fbe-d5877f77d37f",
          "Type": 2,
          "Name": "TestProject3",
          "Path": null,
          "Args": null
        },
        {
          "Id": "8811f6a9-ad2c-485a-8562-12f23775745b",
          "Type": 2,
          "Name": "TestProject4",
          "Path": null,
          "Args": null
        }
      ]
    },
    {
      "Solution": {
        "Id": "8ac086cd-9e11-4e25-a28a-33216402e06a",
        "Type": 1,
        "Path": null,
        "Name": "TestSolution",
        "ProjectRefs": null,
        "Args": null
      },
      "Projects": [
        {
          "Id": "c65958d9-20ad-47f6-9d3e-f4c2618b98a0",
          "Type": 2,
          "Name": "TestProject0",
          "Path": null,
          "Args": null
        },
        {
          "Id": "3d6c1ef6-efd2-4020-a012-6926dd119158",
          "Type": 2,
          "Name": "TestProject1",
          "Path": null,
          "Args": null
        },
        {
          "Id": "e4011cd9-d205-4f2d-9b5e-78d3e31af0ef",
          "Type": 2,
          "Name": "TestProject2",
          "Path": null,
          "Args": null
        },
        {
          "Id": "9a775114-6c32-43c8-8da3-add54a50c201",
          "Type": 2,
          "Name": "TestProject3",
          "Path": null,
          "Args": null
        },
        {
          "Id": "e2d5f13a-c562-4b14-90f3-45e17b2b0832",
          "Type": 2,
          "Name": "TestProject4",
          "Path": null,
          "Args": null
        }
      ]
    }
  ]
}