{
  "DotnetConfigs": [
    {
      "Solution": {
        "Guid": "3bbc009d-76a3-477c-ba40-a1e128756dea",
        "Name": "TestSolution",
        "ProjectRefs": [
          "34805e89-ee7c-44ab-8c18-d7660bc22ab8",
          "614c1078-318b-485a-803b-c89a783b7a45",
          "1208c86d-b670-4889-a61b-49992b14626f",
          "19add522-9190-48d2-85e1-fbe589af2b81"
        ],
        "Args": [

        ]
      },
      "Projects": [
        {
          "Guid": "34805e89-ee7c-44ab-8c18-d7660bc22ab8",
          "Alias": "webapi",
          "Name": "test.api",
          "ProjectRefs": [
            "614c1078-318b-485a-803b-c89a783b7a45",
            "1208c86d-b670-4889-a61b-49992b14626f"
          ],
          "Args": [
            
          ]
        },
        {
          "Guid": "19add522-9190-48d2-85e1-fbe589af2b81",
          "Alias": "webapp",
          "Name": "test.ui",
          "ProjectRefs": [
            "614c1078-318b-485a-803b-c89a783b7a45",
            "1208c86d-b670-4889-a61b-49992b14626f"
          ],
          "Args": [
  
          ]
        },
        {
          "Guid": "614c1078-318b-485a-803b-c89a783b7a45",
          "Alias": "classlib",
          "Name": "test.core",
          "ProjectRefs": [
            "1208c86d-b670-4889-a61b-49992b14626f"
          ],
          "Args": [
  
          ]
        },
        {
          "Guid": "1208c86d-b670-4889-a61b-49992b14626f",
          "Alias": "classlib",
          "Name": "test.utils",
          "ProjectRefs": [

          ],
          "Args": [
  
          ]
        }
      ]
    }
  ]
}